@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 8px;
}

.gallery {
  width: 100%;
}

/* GALLERY GRID CSS */
.gallery .gallery-grid {
  width: 75%;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  padding: 10px 150px 80px 150px;
}

.gallery .gallery-grid .box {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery .gallery-grid .box.satu {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery .gallery-grid .box.empat {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.gallery .gallery-grid .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .gallery-grid:hover .box {
  opacity: 0.4;
}

.gallery .gallery-grid:hover .box:hover {
  opacity: 1;
}

.gallery .gallery-grid .box:active {
  transform: scale(0.9);
}
/* GALLERY GRID CSS */

/* LIGHTBOX CSS */
.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.716);
  width: 100%;
  height: 100%;
}

.preview-container .preview-box-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-container .preview-box-container .preview-box {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
}

.preview-container .preview-box-container .preview-box img {
  width: 100%;
  height: 100%;
}

.preview-container .image-list-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-container .image-list-container .image-list {
  width: 80px;
  height: 100px;
  margin-right: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
}

.preview-container .image-list-container .image-list:hover {
  transform: scale(1.1);
}

.preview-container .image-list-container .image-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* LIGHTBOX CSS */
